.pd-left-right-10 {
    padding: 0 10px;
}
.pd-left-right-20 {
    padding: 0 20px;
}
.pd-right-20 {
    padding-right: 20px;
}

.pd-right-10 {
    padding-right: 10px;
}
.pd-10 {
    padding: 10px;
}
.pd-20 {
    padding: 20px;
}
.pd-left-10 {
    padding-left: 10px;
}
.pd-left-20 {
    padding-left: 20px;
}

.mg-bottom-10 {
    margin-bottom: 10px;
}
.mg-bottom-20 {
    margin-bottom: 20px;
}
.mg-bottom-30 {
    margin-bottom: 30px;
}
.mg-bottom-125 {
    margin-bottom: 125px;
}
.mg-top-10 {
    margin-top: 10px;
}
.mg-top-80 {
    margin-top: 80px;
}
.mg-10 {
    margin: 10px;
}
.pd-top-bottom-80{
    padding-top: 80px;
    padding-bottom: 80px;
}
